:host {
    text-align: center;
}

.invalid {
    border-color: #FA787E;
}

.valid {
    border-color: #509558;
}

form {
    display: inline-block;
    text-align: center;
}

input {
    text-align: center;
    width: 75%;
}