:host {
    text-align: center;
}

.invalid {
    border-color: #FA787E;
}

.valid {
    border-color: #78FA89;
}

form {
    display: inline-block;
    text-align: center;
}

input {
    border-radius: 10px;
    padding-left: 2%;
    width: 110px;
}