<form>
    <label>Update {{currentDate}} to </label>
    <span class='span-inline'>
    <label for='date-input'><small>{{min}} to {{max}}</small></label>
    <input type='text' id='date-input' placeholder='yyyy-mm-dd' [(ngModel)]='inputDate.ymd' (ngModelChange)='flag($event)' [class.valid]='inputDate.valid' [class.invalid]='!inputDate.valid' />
    </span>
    <button class='btn btn-primary' (click)='submit()'>Submit</button>
    <button class='btn align-up' (click)='increment("down")' [disabled]='currentDate === validDates[0]'>-</button>
    <div class='div-inline'>
        <ul class='nav nav-tabs'>
            <li class="active dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="">Jump trading {{jump}} {{(jump === 1)? 'day': 'days'}}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li *ngFor='let jumpOption of jumpOptions'><a href="#" (click)='jump = jumpOption'>{{jumpOption}}</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <button class='btn align-up' (click)='increment("up")' [disabled]='currentDate === validDates[validDates.length - 1]'>+</button>
    <div class='div-inline'>
        <ul class='nav nav-tabs'>
            <li class="active dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="">Holding Period: {{hp}}  trading {{(hp === 1)? 'day': 'days'}}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li *ngFor='let hpOption of hpOptions'><a href="#" (click)='updateHoldingPeriod(hpOption)'>{{hpOption}}</a></li>
                </ul>
            </li>
        </ul>
    </div>
</form>
