<h1> TSX/TSXv Gold Exp/Dev Data Exploration Tool</h1>


<div class="well">
  <date-component [currentDate]='currentDate' (updateCurrentDate)='update($event)'>
  </date-component>

  <ul class="nav nav-tabs">
    <li class="active dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="">Limit to: {{limit}} <span class="caret"></span>
        </a>
      <ul class="dropdown-menu">
        <li *ngFor='let option of limitOptions | shorten: stocks.length'><a href="#" (click)='limit = option'>{{option}}</a></li>
        <li><a href="#" (click)='limit = stocks.length'>{{stocks.length}}</a>
        </li>
      </ul>
    </li>
  </ul>
  <ul class="nav nav-tabs">
    <li class="active dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="">Buy/Sell Spread in cents: {{spread}} <span class="caret"></span>
        </a>
      <ul class="dropdown-menu">
        <li *ngFor='let option of spreadOptions'><a href="#" (click)='modifySpread(option)'>{{option}}</a></li>
      </ul>
    </li>
  </ul>
</div>
<stock-table [stocks]='stocks' 
             [metaDefs]='metaDefs' 
             [futureDates]='futureDates'
             [cpMetaDefs] ='cpMetaDefs'
             [benchmarks] ='benchmarks'
             [limit]='limit' 
             [currentDate]='currentDate' 
             [spread]='spread'></stock-table>