<h1> TSX/TSXv Gold Exp/Dev Data Exploration Tool</h1>


<div class="well">
  <div class="row">
    <div class="col-xs-12">
      <date-component [currentDate]='currentDate' [hp]='hp' (updateHp)='update($event)' (updateCurrentDate)='update($event)'>
      </date-component>
    </div>
  </div>
  <!--row-->
  <div class="row">
    <!--column-->
    <div class="col-xs-6">
      <div class="div-inline">
        <ul class="nav nav-tabs">
          <li class="active dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="">Limit to: {{limit}} <span class="caret"></span>
        </a>
            <ul class="dropdown-menu">
              <li *ngFor='let option of limitOptions | shorten: stocks.length'><a href="#" (click)='limit = option'>{{option}}</a></li>
              <li><a href="#" (click)='limit = stocks.length'>{{stocks.length}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="div-inline">
        <ul class="nav nav-tabs">
          <li class="active dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="">Buy/Sell Spread in cents: {{spread}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li *ngFor='let option of spreadOptions'><a href="#" (click)='modifySpread(option)'>{{option}}</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!--end:column-->
    <!--column-->
    <div class='col-xs-6' *ngIf='thresholds.length'>
      <div class="div-inline" *ngFor='let threshold of thresholds'>
        <ul class="nav nav-tabs">
          <li class="active dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="">{{threshold.short}} {{displayThreshold(threshold.sid)}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#" (click)='deactivateThreshold(threshold.sid)'>none</a></li>
              <li *ngFor='let gt of threshold.gt'><a href="#" (click)='activateThreshold(threshold.sid, "gt", gt)'> at least {{gt}}</a></li>
              <li *ngFor='let lt of threshold.lt'><a href="#" (click)='activateThreshold(threshold.sid, "lt", lt)'> at most {{lt}}</a></li>
              <li *ngFor='let eq of threshold.eq'><a href="#" (click)='activateThreshold(threshold.sid, "eq", eq)'>{{eq}}</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!--end:column-->
  </div>
  <!--end:row-->
</div>

<stock-table [stocks]='stocks' [metaDefs]='metaDefs' [futureDates]='futureDates' [cpMetaDefs]='cpMetaDefs' [benchmarks]='benchmarks' [limit]='limit' [currentDate]='currentDate' [spread]='spread' [thresholds]='activeThresholds'></stock-table>