<div class="well table-responsive">
    <table class="table table-striped table-hover table-bordered table-condensed">
        <thead class='thead-default'>
            <tr>
                <td>#</td>
                <td *ngFor='let metaDef of metaDefs' [class.highlight]='selection === metaDef.sid'><a href="" [class.highlight]='selection === metaDef.sid' (click)='set($event, metaDef.sid)'>{{metaDef.short}}</a></td>
                <td *ngFor='let ymd of futureDates'>{{ymd}}</td>
                <td *ngIf='futureDates.length'>Average</td>
            </tr>
            <tr>
                <td></td>
                <td *ngFor='let metaDef of metaDefs' [class.highlight]='selection === metaDef.sid'>{{averageByMetric(metaDef) | cpercent}}</td>
                <td *ngFor='let ymd of futureDates'></td>
                <td *ngIf='futureDates.length'></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let stock of stocks | sort: selection | slice:0:limit; let i = index'>
                <td>{{i + 1}}</td>
                <td *ngFor='let metaDef of metaDefs' [class.highlight]='selection === metaDef.sid'>{{stock[metaDef.sid]}}</td>
                <td *ngFor='let ymd of futureDates'>{{stock.closes | match: ymd}}</td>
                <td *ngIf='futureDates.length'>{{averageByStock(stock) | cpercent}}</td>
            </tr>
        </tbody>
    </table>

</div>